apiVersion: v1
kind: ConfigMap
metadata:
  name: pit-config
data:
  APPLICATION_YAML: |
    pit:
      kafka:
        bootstrap: {{ .Values.env.kafkaBootstrap }}
        topic: {{ .Values.env.kafkaTopic }}
        registryUrl: {{ .Values.env.registryUrl }}
        dlqTopic: {{ .Values.env.dlqTopic }}
      control:
        url: {{ .Values.env.controlUrl }}
      ratelimit:
        rpm: 600
        ipRpm: 300
      props:
        allowlist: []
      event:
        maxBytes: 65536
      request:
        maxBytes: 1048576
      pii:
        email: mask
        phone: mask
        ip: coarse
        denyKeys: ["password","pass","passwd","credit_card","ssn"]
        maskKeys: ["email","phone","mobile"]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pit-control-config
data:
  APPLICATION_YAML: |
    spring:
      datasource:
        url: jdbc:h2:file:./var/controldb;DB_CLOSE_DELAY=-1;AUTO_SERVER=true
        driverClassName: org.h2.Driver
        username: sa
        password:
      jpa:
        hibernate:
          ddl-auto: update
        open-in-view: false
        properties:
          hibernate:
            jdbc:
              time_zone: UTC
    pit:
      admin:
        token: {{ .Values.env.adminToken | quote }}
