apiVersion: v1
kind: ConfigMap
metadata:
  name: pit-config
  namespace: pit
data:
  application.yaml: |
    pit:
      kafka:
        bootstrap: kafka:9092
        topic: pit.events_raw
        registryUrl: http://apicurio:8080/apis/registry/v2
        dlqTopic: pit.deadletter
      control:
        url: http://pit-control.pit.svc.cluster.local:8085
      ratelimit:
        rpm: 600
        ipRpm: 300
      props:
        allowlist: []
      event:
        maxBytes: 65536
      request:
        maxBytes: 1048576
      pii:
        email: mask
        phone: mask
        ip: coarse
        denyKeys: ["password","pass","passwd","credit_card","ssn"]
        maskKeys: ["email","phone","mobile"]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pit-control-config
  namespace: pit
data:
  application.yaml: |
    spring:
      datasource:
        url: jdbc:h2:file:./var/controldb;DB_CLOSE_DELAY=-1;AUTO_SERVER=true
        driverClassName: org.h2.Driver
        username: sa
        password:
      jpa:
        hibernate:
          ddl-auto: update
        open-in-view: false
        properties:
          hibernate:
            jdbc:
              time_zone: UTC
    pit:
      admin:
        token: admin
